name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
    

jobs:
  build-m4:
    runs-on: ubuntu-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        sudo apt update && sudo apt -y install make autoconf python3 python3-pip cmake libgl-dev libgl1-mesa-dev xkb-data libx11-xcb-dev libfontenc-dev libxaw7-dev libxcomposite-dev libxcursor-dev libxdamage-dev libxfixes-dev libxi-dev libxinerama-dev libxkbfile-dev libxmu-dev libxmuu-dev libxpm-dev libxrandr-dev libxres-dev libxss-dev libxtst-dev libxv-dev libxxf86vm-dev libxcb-glx0-dev libxcb-render-util0-dev libxcb-xkb-dev libxcb-icccm4-dev libxcb-image0-dev libxcb-keysyms1-dev libxcb-randr0-dev libxcb-shape0-dev libxcb-sync-dev libxcb-xfixes0-dev libxcb-xinerama0-dev libxcb-dri3-dev libxcb-cursor-dev libxcb-dri2-0-dev libxcb-dri3-dev libxcb-present-dev libxcb-composite0-dev libxcb-ewmh-dev libxcb-res0-dev libxcb-util-dev
        sudo pip install --upgrade conan
        conan profile detect
        conan remote add cps-artifactory http://v2202410237013289389.luckysrv.de:8081/artifactory/api/conan/conan
        conan remote login -p $ARTIFACTORY_TOKEN cps-artifactory cps-gitlab-runner
        conan remote remove conancenter
    - name: build_release
      run: conan create ./m4/all --name=m4 --version=1.4.19 --build-require
    - name: build debug
      run: conan create ./m4/all --name=m4 --version=1.4.19 --build-require -s build_type=Debug
    - name: deploy
      run: conan upload "*" -r cps-artifactory -c

  build-cmake:
    runs-on: ubuntu-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        sudo apt update && sudo apt -y install make autoconf python3 python3-pip cmake libgl-dev libgl1-mesa-dev xkb-data libx11-xcb-dev libfontenc-dev libxaw7-dev libxcomposite-dev libxcursor-dev libxdamage-dev libxfixes-dev libxi-dev libxinerama-dev libxkbfile-dev libxmu-dev libxmuu-dev libxpm-dev libxrandr-dev libxres-dev libxss-dev libxtst-dev libxv-dev libxxf86vm-dev libxcb-glx0-dev libxcb-render-util0-dev libxcb-xkb-dev libxcb-icccm4-dev libxcb-image0-dev libxcb-keysyms1-dev libxcb-randr0-dev libxcb-shape0-dev libxcb-sync-dev libxcb-xfixes0-dev libxcb-xinerama0-dev libxcb-dri3-dev libxcb-cursor-dev libxcb-dri2-0-dev libxcb-dri3-dev libxcb-present-dev libxcb-composite0-dev libxcb-ewmh-dev libxcb-res0-dev libxcb-util-dev
        sudo pip install --upgrade conan
        conan profile detect
        conan remote add cps-artifactory http://v2202410237013289389.luckysrv.de:8081/artifactory/api/conan/conan
        conan remote login -p $ARTIFACTORY_TOKEN cps-artifactory cps-gitlab-runner
        conan remote remove conancenter
    - name: build_release
      run: conan create ./cmake/binary --name=cmake --version=3.30.0 --build-require
    - name: build debug
      run: conan create ./cmake/binary --name=cmake --version=3.30.0 --build-require -s build_type=Debug
    - name: deploy
      run: conan upload "*" -r cps-artifactory -c

  build-cmake-macos:
    runs-on: macos-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        brew install conan
        conan profile detect
        conan remote add cps-artifactory http://v2202410237013289389.luckysrv.de:8081/artifactory/api/conan/conan
        conan remote login -p $ARTIFACTORY_TOKEN cps-artifactory cps-gitlab-runner
        conan remote remove conancenter
    - name: build_release
      run: conan create ./cmake/binary --name=cmake --version=3.30.0 --build-require
    - name: build debug
      run: conan create ./cmake/binary --name=cmake --version=3.30.0 --build-require -s build_type=Debug
    - name: deploy
      run: conan upload "*" -r cps-artifactory -c
  
  build-autoconf:
    runs-on: ubuntu-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        sudo apt update && sudo apt -y install make autoconf python3 python3-pip cmake libgl-dev libgl1-mesa-dev xkb-data libx11-xcb-dev libfontenc-dev libxaw7-dev libxcomposite-dev libxcursor-dev libxdamage-dev libxfixes-dev libxi-dev libxinerama-dev libxkbfile-dev libxmu-dev libxmuu-dev libxpm-dev libxrandr-dev libxres-dev libxss-dev libxtst-dev libxv-dev libxxf86vm-dev libxcb-glx0-dev libxcb-render-util0-dev libxcb-xkb-dev libxcb-icccm4-dev libxcb-image0-dev libxcb-keysyms1-dev libxcb-randr0-dev libxcb-shape0-dev libxcb-sync-dev libxcb-xfixes0-dev libxcb-xinerama0-dev libxcb-dri3-dev libxcb-cursor-dev libxcb-dri2-0-dev libxcb-dri3-dev libxcb-present-dev libxcb-composite0-dev libxcb-ewmh-dev libxcb-res0-dev libxcb-util-dev
        sudo pip install --upgrade conan
        conan profile detect
        conan remote add cps-artifactory http://v2202410237013289389.luckysrv.de:8081/artifactory/api/conan/conan
        conan remote login -p $ARTIFACTORY_TOKEN cps-artifactory cps-gitlab-runner
        conan remote remove conancenter
    - name: build_release
      run: conan create ./autoconf/all --name=autoconf --version=2.71 --build-require
    - name: build debug
      run: conan create ./autoconf/all --name=autoconf --version=2.71 --build-require -s build_type=Debug
    - name: deploy
      run: conan upload "*" -r cps-artifactory -c

  build-autconf-macos:
    runs-on: macos-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        brew install conan
        conan profile detect
        conan remote add cps-artifactory http://v2202410237013289389.luckysrv.de:8081/artifactory/api/conan/conan
        conan remote login -p $ARTIFACTORY_TOKEN cps-artifactory cps-gitlab-runner
        conan remote remove conancenter
    - name: build_release
      run: conan create ./autoconf/all --name=autoconf --version=2.71 --build-require
    - name: build debug
      run: conan create ./autoconf/all --name=autoconf --version=2.71 --build-require -s build_type=Debug
    - name: deploy
      run: conan upload "*" -r cps-artifactory -c
  
  build-bison:
    runs-on: ubuntu-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        sudo apt update && sudo apt -y install make autoconf python3 python3-pip cmake libgl-dev libgl1-mesa-dev xkb-data libx11-xcb-dev libfontenc-dev libxaw7-dev libxcomposite-dev libxcursor-dev libxdamage-dev libxfixes-dev libxi-dev libxinerama-dev libxkbfile-dev libxmu-dev libxmuu-dev libxpm-dev libxrandr-dev libxres-dev libxss-dev libxtst-dev libxv-dev libxxf86vm-dev libxcb-glx0-dev libxcb-render-util0-dev libxcb-xkb-dev libxcb-icccm4-dev libxcb-image0-dev libxcb-keysyms1-dev libxcb-randr0-dev libxcb-shape0-dev libxcb-sync-dev libxcb-xfixes0-dev libxcb-xinerama0-dev libxcb-dri3-dev libxcb-cursor-dev libxcb-dri2-0-dev libxcb-dri3-dev libxcb-present-dev libxcb-composite0-dev libxcb-ewmh-dev libxcb-res0-dev libxcb-util-dev
        sudo pip install --upgrade conan
        conan profile detect
        conan remote add cps-artifactory http://v2202410237013289389.luckysrv.de:8081/artifactory/api/conan/conan
        conan remote login -p $ARTIFACTORY_TOKEN cps-artifactory cps-gitlab-runner
        conan remote remove conancenter
    - name: build_release
      run: conan create ./bison/all --name=bison --version=3.8.2 --build-require
    - name: build debug
      run: conan create ./bison/all --name=bison --version=3.8.2 --build-require -s build_type=Debug
    - name: deploy
      run: conan upload "*" -r cps-artifactory -c

  build-bison-macos:
    runs-on: macos-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        brew install conan
        conan profile detect
        conan remote add cps-artifactory http://v2202410237013289389.luckysrv.de:8081/artifactory/api/conan/conan
        conan remote login -p $ARTIFACTORY_TOKEN cps-artifactory cps-gitlab-runner
        conan remote remove conancenter
    - name: build_release
      run: conan create ./bison/all --name=bison --version=3.8.2 --build-require
    - name: build debug
      run: conan create ./bison/all --name=bison --version=3.8.2 --build-require -s build_type=Debug
    - name: deploy
      run: conan upload "*" -r cps-artifactory -c
  
  build-automake:
    runs-on: ubuntu-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        sudo apt update && sudo apt -y install make autoconf python3 python3-pip cmake libgl-dev libgl1-mesa-dev xkb-data libx11-xcb-dev libfontenc-dev libxaw7-dev libxcomposite-dev libxcursor-dev libxdamage-dev libxfixes-dev libxi-dev libxinerama-dev libxkbfile-dev libxmu-dev libxmuu-dev libxpm-dev libxrandr-dev libxres-dev libxss-dev libxtst-dev libxv-dev libxxf86vm-dev libxcb-glx0-dev libxcb-render-util0-dev libxcb-xkb-dev libxcb-icccm4-dev libxcb-image0-dev libxcb-keysyms1-dev libxcb-randr0-dev libxcb-shape0-dev libxcb-sync-dev libxcb-xfixes0-dev libxcb-xinerama0-dev libxcb-dri3-dev libxcb-cursor-dev libxcb-dri2-0-dev libxcb-dri3-dev libxcb-present-dev libxcb-composite0-dev libxcb-ewmh-dev libxcb-res0-dev libxcb-util-dev
        sudo pip install --upgrade conan
        conan profile detect
        conan remote add cps-artifactory http://v2202410237013289389.luckysrv.de:8081/artifactory/api/conan/conan
        conan remote login -p $ARTIFACTORY_TOKEN cps-artifactory cps-gitlab-runner
        conan remote remove conancenter
    - name: build_release
      run: conan create ./automake/all --name=automake --version=1.16.5 --build-require
    - name: build debug
      run: conan create ./automake/all --name=automake --version=1.16.5 --build-require -s build_type=Debug
    - name: deploy
      run: conan upload "*" -r cps-artifactory -c

  build-automake-macos:
    runs-on: macos-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        brew install conan
        conan profile detect
        conan remote add cps-artifactory http://v2202410237013289389.luckysrv.de:8081/artifactory/api/conan/conan
        conan remote login -p $ARTIFACTORY_TOKEN cps-artifactory cps-gitlab-runner
        conan remote remove conancenter
    - name: build_release
      run: conan create ./automake/all --name=automake --version=1.16.5 --build-require
    - name: build debug
      run: conan create ./automake/all --name=automake --version=1.16.5 --build-require -s build_type=Debug
    - name: deploy
      run: conan upload "*" -r cps-artifactory -c
  
  build-ninja:
    runs-on: ubuntu-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        sudo apt update && sudo apt -y install make autoconf python3 python3-pip cmake libgl-dev libgl1-mesa-dev xkb-data libx11-xcb-dev libfontenc-dev libxaw7-dev libxcomposite-dev libxcursor-dev libxdamage-dev libxfixes-dev libxi-dev libxinerama-dev libxkbfile-dev libxmu-dev libxmuu-dev libxpm-dev libxrandr-dev libxres-dev libxss-dev libxtst-dev libxv-dev libxxf86vm-dev libxcb-glx0-dev libxcb-render-util0-dev libxcb-xkb-dev libxcb-icccm4-dev libxcb-image0-dev libxcb-keysyms1-dev libxcb-randr0-dev libxcb-shape0-dev libxcb-sync-dev libxcb-xfixes0-dev libxcb-xinerama0-dev libxcb-dri3-dev libxcb-cursor-dev libxcb-dri2-0-dev libxcb-dri3-dev libxcb-present-dev libxcb-composite0-dev libxcb-ewmh-dev libxcb-res0-dev libxcb-util-dev
        sudo pip install --upgrade conan
        conan profile detect
        conan remote add cps-artifactory http://v2202410237013289389.luckysrv.de:8081/artifactory/api/conan/conan
        conan remote login -p $ARTIFACTORY_TOKEN cps-artifactory cps-gitlab-runner
        conan remote remove conancenter
    - name: build_release
      run: conan create ./ninja/all --name=ninja --version=1.12.1 --build-require
    - name: build debug
      run: conan create ./ninja/all --name=ninja --version=1.12.1 --build-require -s build_type=Debug
    - name: deploy
      run: conan upload "*" -r cps-artifactory -c

  build-ninja-macos:
    runs-on: macos-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        brew install conan
        conan profile detect
        conan remote add cps-artifactory http://v2202410237013289389.luckysrv.de:8081/artifactory/api/conan/conan
        conan remote login -p $ARTIFACTORY_TOKEN cps-artifactory cps-gitlab-runner
        conan remote remove conancenter
    - name: build_release
      run: conan create ./ninja/all --name=ninja --version=1.12.1 --build-require
    - name: build debug
      run: conan create ./ninja/all --name=ninja --version=1.12.1 --build-require -s build_type=Debug
    - name: deploy
      run: conan upload "*" -r cps-artifactory -c

  build-meson:
    runs-on: ubuntu-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        sudo apt update && sudo apt -y install make autoconf python3 python3-pip cmake libgl-dev libgl1-mesa-dev xkb-data libx11-xcb-dev libfontenc-dev libxaw7-dev libxcomposite-dev libxcursor-dev libxdamage-dev libxfixes-dev libxi-dev libxinerama-dev libxkbfile-dev libxmu-dev libxmuu-dev libxpm-dev libxrandr-dev libxres-dev libxss-dev libxtst-dev libxv-dev libxxf86vm-dev libxcb-glx0-dev libxcb-render-util0-dev libxcb-xkb-dev libxcb-icccm4-dev libxcb-image0-dev libxcb-keysyms1-dev libxcb-randr0-dev libxcb-shape0-dev libxcb-sync-dev libxcb-xfixes0-dev libxcb-xinerama0-dev libxcb-dri3-dev libxcb-cursor-dev libxcb-dri2-0-dev libxcb-dri3-dev libxcb-present-dev libxcb-composite0-dev libxcb-ewmh-dev libxcb-res0-dev libxcb-util-dev cmake ninja-build
        sudo pip install --upgrade conan
        conan profile detect
        conan remote add cps-artifactory http://v2202410237013289389.luckysrv.de:8081/artifactory/api/conan/conan
        conan remote login -p $ARTIFACTORY_TOKEN cps-artifactory cps-gitlab-runner
        conan remote remove conancenter
    - name: build_release
      run: conan create ./meson/all --name=meson --version=1.4.0 --build-require
    - name: build debug
      run: conan create ./meson/all --name=meson --version=1.4.0 --build-require-s build_type=Debug
    - name: deploy
      run: conan upload "*" -r cps-artifactory -c

  build-meson-macos:
    runs-on: macos-latest
    env: # Or as an environment variable
      ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
      ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        brew install conan
        conan profile detect
        conan remote add cps-artifactory http://v2202410237013289389.luckysrv.de:8081/artifactory/api/conan/conan
        conan remote login -p $ARTIFACTORY_TOKEN cps-artifactory cps-gitlab-runner
        conan remote remove conancenter
        pip3 install --force-reinstall ninja
    - name: build_release
      run: conan create ./meson/all --name=meson --version=1.4.0 --build-require
    - name: build debug
      run: conan create ./meson/all --name=meson --version=1.4.0 --build-require -s build_type=Debug
    - name: deploy
      run: conan upload "*" -r cps-artifactory -c