name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-m4:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: prepare runner
      run: | 
        sudo apt update && sudo apt -y install make autoconf python3 python3-pip cmake libgl-dev libgl1-mesa-dev xkb-data libx11-xcb-dev libfontenc-dev libxaw7-dev libxcomposite-dev libxcursor-dev libxdamage-dev libxfixes-dev libxi-dev libxinerama-dev libxkbfile-dev libxmu-dev libxmuu-dev libxpm-dev libxrandr-dev libxres-dev libxss-dev libxtst-dev libxv-dev libxxf86vm-dev libxcb-glx0-dev libxcb-render-util0-dev libxcb-xkb-dev libxcb-icccm4-dev libxcb-image0-dev libxcb-keysyms1-dev libxcb-randr0-dev libxcb-shape0-dev libxcb-sync-dev libxcb-xfixes0-dev libxcb-xinerama0-dev libxcb-dri3-dev libxcb-cursor-dev libxcb-dri2-0-dev libxcb-dri3-dev libxcb-present-dev libxcb-composite0-dev libxcb-ewmh-dev libxcb-res0-dev libxcb-util-dev
        pip install --upgrade conan --break-system-packages
        conan profile detect
        conan remote add cps-artifactory $ARTIFACTORY_URL
        conan remote login -p $ARTIFACTORY_TOKEN cps-artifactory cps-gitlab-runner
        conan remote remove conancenter
    - name: build_release
      run: conan create ./m4/all --name=m4 --version=1.4.19 --build-require
    - name: build debug
      run: conan create ./m4/all --name=m4 --version=1.4.19 --build-require -s build_type=Debug
    - name: deploy
      run: conan upload "*" -r cps-artifactory -c
